<div class="jumbotron rounded-0">
  <div class="col-sm-8 mx-auto">
    <h1>Schafkopf-Club Bayern e.V.</h1>
    <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of
      the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="../navbar-top/">top</a>      and <a href="../navbar-top-fixed/">fixed top</a> examples.</p>
    <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed
      content.</p>
    <p>
      <a class="btn btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
    </p>
  </div>
</div>
<div class="container">
  <div class="card-deck">
    <div class="card text-center">
      <i class="material-icons card-icon">star</i>
      <div class="card-block">
        <h4 class="card-title">Meisterschaften</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div>
    <div class="card text-center">
      <i class="material-icons card-icon">security</i>
      <div class="card-block">
        <h4 class="card-title">Ligabetrieb</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card text-center">
      <i class="material-icons card-icon">group</i>
      <div class="card-block">
        <h4 class="card-title">Verein</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>